/* style.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(119, 119, 119);;
}

#instruction {
	background-color: rgb(228, 229, 230);
	padding: 10px 20px;
	margin: 40px;
    font-size: 16px;
}

#showCircleBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#nextScenarioBtn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#container {
    position: relative;
    width: 1060px;
    height: 1060px;
	display: none;
}

#ring {
	border-radius: 50%;
	background-color: rgb(119, 119, 119);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
}

.ringBig {
	width: 1020px;
	height: 1020px;
}

.ringMedium {
	width: 910px;
	height: 910px;
}

.ringSmall {
	width: 800px;
	height: 800px;
}

.ringContrast1 {
	border: 20px solid #000000;
}

.ringContrast2 {
	border: 20px solid #000000;
}

.ringContrast3 {
	border: 20px solid #000000;
}

.circle {
	width: 16px; /* Rozmiar małych kółek */
	height: 16px;
	border-radius: 50%;
	position: absolute;
	opacity: 33%;
}

/* Pozycjonowanie małych kółek */
.top {
	/* top: 2px; /* Odsunięcie od górnej krawędzi */
	left: 50%;
	transform: translateX(-50%);
}

.bottom {
	/* bottom: 2px; /* Odsunięcie od dolnej krawędzi */
	left: 50%;
	transform: translateX(-50%);
}

.left {
	/* left: 2px; /* Odsunięcie od lewej krawędzi */
	top: 50%;
	transform: translateY(-50%);
}

.right {
	/* right: 2px; /* Odsunięcie od prawej krawędzi */
	top: 50%;
	transform: translateY(-50%);
}


#questionContainer {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 10%;
	position: relative;
}

#questionImage {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

#answers {
    display: flex;
    gap: 10px;
    margin-top: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#answers img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#didntBlink {
	display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#didntBlinkText{
    padding: 20px 20px;
    font-size: 16px;
}

#taskCounter{
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    top: 30%;
	left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    font-size: 48px;
}

#didntBlinkBtn{
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
}