/* style.css */
body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(119, 119, 119);;
}

#instruction {
	background-color: rgb(228, 229, 230);
	padding: 10px 20px;
	margin: 40px;
    text-align: center;
    font-size: 24px;
}

#showCircleBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#nextScenarioBtn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#container {
    position: relative;
    width: 2150px;
    height: 2150px;
	display: none;
}

#ring {
	border-radius: 50%;
	background-color: rgb(119, 119, 119);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
}

.ringBig {
	width: 2108px;
	height: 2108px;
}

.ringMedium {
	width: 1540px;
	height: 1540px;
}

.ringSmall {
	width: 972px;
	height: 972px;
}

.ringContrast1 {
	border: 20px solid #000000;
}

.ringContrast2 {
	border: 20px solid #000000;
}

.ringContrast3 {
	border: 20px solid #000000;
}

.circle {
	width: 16px; /* Rozmiar małych kółek */
	height: 16px;
	border-radius: 50%;
	position: absolute;
	opacity: 100%;
}

/* Pozycjonowanie małych kółek */
.top {
	/* top: 2px; /* Odsunięcie od górnej krawędzi */
	left: 50%;
	transform: translateX(-50%);
}

.bottom {
	/* bottom: 2px; /* Odsunięcie od dolnej krawędzi */
	left: 50%;
	transform: translateX(-50%);
}

.left {
	/* left: 2px; /* Odsunięcie od lewej krawędzi */
	top: 50%;
	transform: translateY(-50%);
}

.right {
	/* right: 2px; /* Odsunięcie od prawej krawędzi */
	top: 50%;
	transform: translateY(-50%);
}


#questionContainer {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 100px;
	position: relative;
}

#questionImage {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

#answers {
    display: flex;
    gap: 10px;
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#answers img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#didntBlink {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#didntBlinkText{
    padding: 20px 20px;
    font-size: 16px;
}

#didntBlinkBtn{
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#tooFast {
	display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    font-size: 28px;
    width: 300px;
}

#taskCounter{
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
    top: 40%;
	left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    font-size: 48px;
}

#progress-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease;
}

#centering {
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 44%;
	transform: translateY(-50%);
    font-size: 28px;
    text-align: center;
}

p {
    margin: 0px; /* Domyślnie przeglądarki dają ok. 16px */
}


#centeringSquare{
    width: 50px;
    height: 50px;
    border: 4px solid #e90f0f;
    margin: auto;
    margin-top: 140px;
}